{% extends 'base.html.twig' %}

{% block title %}- Mon compte{% endblock %}

{% block body %}

    <div class="user-panel">
        <i class="bi bi-person-circle"></i>
        <h2> {{ user.firstname }} {{ user.lastname }}</h2>

        <a href="#">
            <button class="btn btn-outline-secondary">
                Voir mon profil public
            </button>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Annonces</h5>
                    <p class="card-text">Gérer mes annonces déposées</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paramètres</h5>
                    <p class="card-text">Compléter et modifier mes informations privées</p>
                    <a href="{{ path('account_modify') }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="logout">
        <a href="{{ path('account_logout') }}">
            <button class="btn btn-danger">Se deconnecter</button>
        </a>
    </div>

{% endblock %}
