{% extends 'base.html.twig' %}

{% block title %}- Ajout catégorie{% endblock %}

{% block body %}
    <form class="row g-3" name="category" method="post" enctype="multipart/form-data">
        <div class="col-md-4">
            <label for="name" class="form-label">Catégorie</label>
            <input type="text" class="form-control" id="name" name="category[name]"
                   required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Créer cette catégorie</button>
        </div>
    </form>
    {{ form_errors(form) }}
{% endblock %}