{% extends 'base.html.twig' %}

{% block title %}- Home{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home/index.css">
{% endblock %}

{% block body %}
    <div id="container">
        <h4 class="page-title">Des millions de petites annonces et autant d’occasions de se faire plaisir</h4>
        {% include 'search.html.twig' %}
        <a href="{{ path('product_add') }}" class="btn btn-primary semi-bold add-product-button" type="submit"><i class="bi bi-plus-square"></i> Déposer une annonce</a>

        <div class="recent-searches-container">
            <div class="recent-searches">
                <i class="bi bi-search"></i>
                <h3>Recherches récentes</h3>
            </div>
            <div class="d-flex">
                <div class="recent-search shadow-sm">
                    <h5>Test</h5>
                    <p>Toutes catégories</p>
                    <div class="d-flex">
                        <i class="bi bi-geo-alt-fill"></i>
                        <p>&nbsp;Toute la France</p>
                    </div>
                </div>
                <div class="recent-search shadow-sm">
                    <h5>Test</h5>
                    <p>Toutes catégories</p>
                    <div class="d-flex">
                        <i class="bi bi-geo-alt-fill"></i>
                        <p>&nbsp;Toute la France</p>
                    </div>
                </div>
                <div class="recent-search shadow-sm">
                    <h5>Test</h5>
                    <p>Toutes catégories</p>
                    <div class="d-flex">
                        <i class="bi bi-geo-alt-fill"></i>
                        <p>&nbsp;Toute la France</p>
                    </div>
                </div>
            </div>

            <p class="bottom-text">Avec leboncoin, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, location de vacances, vêtements, meubles, bricolage, téléphonie, jeux vidéo, etc. Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
        </div>
    </div>
{% endblock %}
