{% extends 'base.html.twig' %}

{% block title %}- Produit ajouté{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product/added.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="background">
            <h5>Votre produit a bien été ajouté</h5>
            <a style="width: 100%;" class="btn btn-primary" href="{{ path('product_manage') }}">Voir mes annonces</a>
        </div>
    </div>
{% endblock %}
