<style>
    .cahEtO {
        background-color: rgb(71, 71, 71);
        color: rgb(255, 255, 255);
        padding: 1.6rem 0.8rem;
    }

    #footer {
        font-size: 0.785em;
    }

    #footer a {
        text-decoration: none;
        margin: 0;
    }

    .nDpxN {
        -webkit-align-self: flex-end;
        align-self: flex-end;
        margin-top: auto;
        width: 100%;
    }

    .brSStf {
        margin: 0px auto;
        max-width: 70rem !important;
    }

    .dPmsWS {
        display: block;
    }

    .krCuDX {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .gEKcrg {
        list-style-type: none;
        margin: 0px 1.6rem 0px 0px;
        padding: 0px;
        width: 100%;
    }

   .gEKcrg {
        list-style-type: none;
        margin: 0px 1.6rem 0px 0px;
        padding: 0px;
        width: 100%;
    }

    .bVIMYu {
        font-size: 0.9rem !important;
        /* font-weight: 600; */
        border-bottom: 0.1rem solid rgb(168, 180, 192);
        margin-bottom: 1.6rem;
        padding-bottom: 0.4rem;
        text-transform: uppercase;
    }

    .izNXI {
        margin-bottom: 0.8rem;
    }

    .gEKcrg:not(:last-child) a, .gEKcrg:not(:last-child) a:hover, .gEKcrg:not(:last-child) a:focus {
        color: rgb(255, 255, 255);
    }

    .gEKcrg:last-child {
        margin-right: 0px;
    }

    .gEKcrg {
         list-style-type: none;
         margin: 0px 1.6rem 0px 0px;
         padding: 0px;
         width: 100%;
    }

    .eibHjd {
        border-bottom: 0.1rem solid rgb(168, 180, 192);
        border-top: 0.1rem solid rgb(168, 180, 192);
        list-style-type: none;
        margin: 2.4rem 0px 0.8rem;
        padding: 0.8rem;
        text-align: center;
    }

    .lnmwDN {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .cJtdT {
        line-height: 1.7rem;
    }

    ._3j0OU {
        font-weight: 400;
    }

    .Dqdzf {
        font-size: 1.2rem;
    }

    .mUWqI {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-right: 0.8rem;
    }

    .bVIMYu {
        font-size: 1.4rem;
        /* font-weight: 600; */
        border-bottom: 0.1rem solid rgb(168, 180, 192);
        margin-bottom: 1.6rem;
        padding-bottom: 0.4rem;
        text-transform: uppercase;
    }

    .iNQXsX {
        display: inline-flex;
        white-space: pre;
    }

    .TLMYe {
        display: inline-flex;
        white-space: normal;
    }

    .eibHjd a, .eibHjd a:hover, .eibHjd a:focus {
        color: rgb(255, 255, 255);
    }
</style>

<div id="footer" class="nDpxN">
<footer class="sc-OxbzP cahEtO">
    <div class="sc-bdVaJa brSStf">
        <div class="brSStf">
            <div display="flex" class="sc-bdVaJa krCuDX">
                <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                    <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                        <li class="sc-hkbPbT bVIMYu">à propos du boncoin</li>
                        <li class="sc-jRhVzh izNXI"><a href="https://leboncoingroupe.com/" target="_blank"
                                                       rel="noopener noreferrer" title="Qui sommes-nous ?">Qui
                                sommes-nous ?</a></li>
                        <li class="sc-jRhVzh izNXI"><a title="Nous rejoindre"
                                                       href="/boutique/11532/postulez_aux_offres_d_emploi_leboncoin.htm">Nous
                                rejoindre</a></li>
                        <li class="sc-jRhVzh izNXI"><a
                                    href="https://leboncoingroupe.com/wp-content/uploads/2020/02/La-RSE-chez-leboncoin.pdf"
                                    target="_blank" rel="noopener noreferrer"
                                    title="Acteur responsable de l’économie française">Acteur responsable de l’économie
                                française</a></li>
                        <li class="sc-jRhVzh izNXI"><a href="https://www.laveniradubon.fr" target="_blank"
                                                       rel="noopener noreferrer" title="L’Avenir a du bon">L’Avenir a du
                                bon</a></li>
                        <li class="sc-jRhVzh izNXI"><a href="https://www.lebonobservatoire.fr" target="_blank"
                                                       rel="noopener noreferrer" title="Le bon observatoire">Le bon
                                observatoire</a></li>
                    </div>
                    <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                        <li class="sc-hkbPbT bVIMYu">Nos applications</li>
                        <li class="sc-jRhVzh izNXI">
                            <div class="styles_appBadges__RigVE"><a class="styles_appBadge__3Ct_4"
                                                                    rel="nofollow noopener noreferrer"
                                                                    href="https://itunes.apple.com/fr/app/leboncoin/id484115113"
                                                                    title="Télécharger l’application iOS"
                                                                    target="_blank">
                                    <div class="LazyLoad is-visible"><span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 117px; height: 35px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"><img
                                                    alt="Télécharger l’application iOS"
                                                    src="/assets/img/download_on_app_store.avif"
                                                    decoding="async" data-nimg="fixed"
                                                    srcset="/assets/img/download_on_app_store.avif"
                                                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                                    </div>
                                </a><a class="styles_appBadge__3Ct_4" rel="nofollow noopener noreferrer"
                                       href="https://play.google.com/store/apps/details?id=fr.leboncoin"
                                       title="Télécharger l’application Android" target="_blank">
                                    <div class="LazyLoad is-visible"><span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 117px; height: 35px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"><img
                                                    alt="Télécharger l’application Android"
                                                    src="/assets/img/download_on_google_play.png"
                                                    decoding="async" data-nimg="fixed"
                                                    srcset="/assets/img/download_on_google_play.png"
                                                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                                    </div>
                                </a></div>
                        </li>
                    </div>
                </div>
                <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                    <li class="sc-hkbPbT bVIMYu">Informations légales</li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow" title="Conditions générales d’utilisation"
                                                   href="/dc/cgu">Conditions générales d’utilisation</a></li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow"
                                                   title="Règles de diffusion, de référencement et de déréférencement"
                                                   href="/dc/rules">Règles de diffusion, de référencement et de
                            déréférencement</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://www.leboncoin.fr/dc/cgv" rel="nofollow"
                                                   title="Conditions générales de vente">Conditions générales de
                            vente</a></li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow" title="Vie privée / cookies" href="/dc/cookies">Vie
                            privée / cookies</a></li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow" title="Vos droits et obligations"
                                                   href="/dc/vos_droits_et_obligations">Vos droits et obligations</a>
                    </li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow" title="Critères de classement" href="/dc/rules">Critères
                            de classement</a></li>
                    <li class="sc-jRhVzh izNXI"><a rel="nofollow" title="Décisions de justice"
                                                   href="/dc/decisions_de_justice">Décisions de justice</a></li>
                </div>
                <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                    <li class="sc-hkbPbT bVIMYu">Nos solutions pros</li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinpublicite.fr/" title="Publicité"
                                                   target="_blank" rel="noreferrer noopener"
                                                   data-qa-id="footer_pub_link">Publicité</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinsolutionspro.fr/immobilier" target="_blank"
                                                   rel="noopener noreferrer" title="Professionnels de l’immobilier"
                                                   data-qa-id="footer_real_estate_link">Professionnels de
                            l’immobilier</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinsolutionspro.fr/emploi" target="_blank"
                                                   rel="noopener noreferrer" title="Vos recrutements"
                                                   data-qa-id="footer_recruitment_link">Vos recrutements</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinsolutionspro.fr/automobile" target="_blank"
                                                   rel="noreferrer noopener" title="Professionnels de l'auto"
                                                   data-qa-id="footer_auto_link">Professionnels de l’auto</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinsolutionspro.fr/location-de-vacances"
                                                   target="_blank" rel="noopener noreferrer"
                                                   title="Professionnels du tourisme" data-qa-id="footer_holidays_link">Professionnels
                            du tourisme</a></li>
                    <li class="sc-jRhVzh izNXI"><a href="https://leboncoinsolutionspro.fr/commerces-services"
                                                   target="_blank" rel="noreferrer noopener"
                                                   title="Autres solutions professionnelles"
                                                   data-qa-id="footer_multicat_link">Autres solutions
                            professionnelles</a></li>
                    <li class="sc-jRhVzh izNXI"><a title="Annuaire des professionnels"
                                                   data-qa-id="footer_pro_phonebook_link"
                                                   href="/boutiques/tout_secteur_d_activite/toutes_categories">Annuaire
                            des professionnels</a></li>
                    <li class="sc-jRhVzh izNXI"><a title="Dépôt gratuit d'emploi pour les TPE"
                                                   data-qa-id="footer_jobsTPE_link"
                                                   href="/solutions-emploi/offre-emploi-tpe">Dépôt gratuit d’emploi pour
                            les TPE</a></li>
                </div>
                <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                    <div class="sc-bdVaJa sc-hcnlBt gEKcrg">
                        <li class="sc-hkbPbT bVIMYu">Des questions ?</li>
                        <li class="sc-jRhVzh izNXI"><a href="https://assistance.leboncoin.info/hc/fr"
                                                       title="Aide">Aide</a></li>
                        <li class="sc-jRhVzh izNXI"><a title="Le service de paiement sécurisé et la livraison"
                                                       href="/paiement-securise-livraison">Le service de paiement
                                sécurisé et la livraison</a></li>
                        <li class="sc-jRhVzh izNXI"><a
                                    title="Le service de réservation de vacances en ligne pour les hôtes"
                                    href="/reservation-de-vacances/hote">Le service de réservation de vacances en ligne
                                pour les hôtes</a></li>
                        <li class="sc-jRhVzh izNXI"><a title="Votre dossier de location en ligne"
                                                       href="/immo/profil-locataire">Votre dossier de location en
                                ligne</a></li>
                        <li class="sc-jRhVzh izNXI"><a href="http://bit.ly/2tr1xYR"
                                                       title="Demandez conseil à la communauté">Demandez conseil à la
                                Communauté</a></li>
                        <li class="sc-jRhVzh izNXI"><a href="https://status.leboncoin.fr" target="_blank"
                                                       rel="noopener noreferrer nofollow"
                                                       title="Statut de nos services">Statut de nos services</a></li>
                    </div>
                </div>
            </div>
            <ul class="sc-guztPN eibHjd">
                <li class="sc-cFlXAS iNQXsX">leboncoin :</li>
                <li class="sc-cFlXAS TLMYe"><a href="https://www.avendrealouer.fr" target="_blank"
                                               rel="noopener noreferrer" title="AVendreALouer">AVendreALouer</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="https://immobilierneuf.leboncoin.fr/" target="_blank"
                                               rel="noopener noreferrer" title="leboncoin Immobilier Neuf">leboncoin
                        Immobilier Neuf</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="https://www.largus.fr" target="_blank" rel="noopener noreferrer"
                                               title="L'argus">L'argus</a></li>
                <li class="sc-cFlXAS TLMYe"><a
                            href="https://www.agriaffaires.com#at_medium=custom4&amp;at_campaign=fr_aa_veh_mot_lbc_part_site-footer-autopromo-lbc_______"
                            target="_blank" rel="noopener noreferrer" title="Agriaffaires">Agriaffaires</a></li>
                <li class="sc-cFlXAS TLMYe"><a
                            href="https://www.machineryzone.fr#at_medium=custom4&amp;at_campaign=fr_mz_veh_mot_lbc_part_site-footer-autopromo-lbc_______"
                            target="_blank" rel="noopener noreferrer" title="MachineryZone">MachineryZone</a></li>
                <li class="sc-cFlXAS TLMYe"><a
                            href="https://www.truckscorner.fr#at_medium=custom4&amp;at_campaign=fr_tc_veh_mot_lbc_part_site-footer-autopromo-lbc_______"
                            target="_blank" rel="noopener noreferrer" title="Truckscorner">Truckscorner</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="https://www.locasun.fr/" target="_blank" rel="noopener noreferrer"
                                               title="Locasun - Les locations vacances">Locasun</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="https://www.locasun-vp.fr/" target="_blank"
                                               rel="noopener noreferrer"
                                               title="Locasun-vp - Ventes privées de locations vacances et weekends">Locasun-vp</a>
                </li>
                <li class="sc-cFlXAS TLMYe"><a href="https://www.videdressing.com/" target="_blank"
                                               rel="noopener noreferrer" title="Videdressing">Videdressing</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="http://www.ledenicheur.fr" target="_blank"
                                               rel="noopener noreferrer" title="LeDénicheur">LeDénicheur</a></li>
                <li class="sc-cFlXAS TLMYe"><a href="http://www.younited-credit.com" target="_blank"
                                               rel="noopener noreferrer" title="Younited Credit">Younited Credit</a>
                </li>
            </ul>
        </div>
        <div display="flex" class="sc-bdVaJa lnmwDN"><span class="Dqdzf _3j0OU cJtdT">leboncoin 2006 - 2022</span>
            <div display="flex" class="sc-bdVaJa sc-iHhHRJ mUWqI"><span
                        class="sc-kqlzXE krkPWj">Retrouvez-nous sur</span><a
                        href="https://www.facebook.com/leboncoin-1565057520410527/" target="_blank"
                        rel="noopener nofollow noreferrer">
                    <svg viewBox="0 0 24 24" role="img" class="sc-bdVaJa src___StyledBox-sc-fochin-0 caKpkk"><title>
                            facebook</title>
                        <use xlink:href="#SvgFacebook"></use>
                    </svg>
                </a><a href="https://twitter.com/leboncoin/" target="_blank" rel="noopener nofollow noreferrer">
                    <svg viewBox="0 0 24 24" role="img" class="sc-bdVaJa src___StyledBox-sc-fochin-0 caKpkk"><title>
                            twitter</title>
                        <use xlink:href="#SvgTwitter"></use>
                    </svg>
                </a><a href="https://www.instagram.com/leboncoin/" target="_blank" rel="noopener nofollow noreferrer">
                    <svg viewBox="0 0 24 25" role="img" class="sc-bdVaJa src___StyledBox-sc-fochin-0 caKpkk"><title>
                            instagram</title>
                        <use xlink:href="#SvgInstagram"></use>
                    </svg>
                </a><a href="https://www.pinterest.fr/leboncoin/" target="_blank" rel="noopener nofollow noreferrer">
                    <svg viewBox="0 0 24 24" role="img" class="sc-bdVaJa src___StyledBox-sc-fochin-0 iIgVqX"><title>
                            pinterest</title>
                        <use xlink:href="#SvgPinterest"></use>
                    </svg>
                </a></div>
        </div>
    </div>
</footer>
</div>